/* Geral */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background: var(--bg);
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  transition: 0.3s;
}

/* Cores */
:root {
  --p1: #ebff00;
  --p2: #141414;
  --p3: #2c2c2c;
  --bg: #2c2c2c;
  --font1: #f1f1f1;
  --bgContent: rgb(255, 255, 255, 0.1);
}
:root.ativo {
  --p1: #00b7ff;
  --p2: #d8d8d8;
  --p3: #c2c2c2;
  --bg: #e7e7e7;
  --font1: #141414;
  --bgContent: rgb(0, 0, 0, 0.1);
}

/* Utilitário */
.titulo {
  color: var(--font1);
  font-size: 3.5rem;
  margin: 65px 0 15px 45px;
}
.titulo span {
  color: var(--p1);
}
.subtitulo {
  color: var(--font1);
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.subtitulo::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  background: var(--p1);
  position: absolute;
  border-radius: 3px 0 0 3px;
  left: -25px;
}

/* Header */
.header {
  padding: 20px 0;
  background-color: var(--p2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid;
  border-image: linear-gradient(30deg, var(--p2) 45%, var(--p1)) 1;
}
.header h1 {
  color: var(--p1);
}

/* Navegacão */
.navegacao {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--font1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
  font-size: 1.1rem;
}
.navegacao li a {
  color: var(--font1);
}
.navegacao li {
  display: block;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.navegacao li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--p1);
  transition: 0.3s;
  margin-top: 2px;
}
.navegacao li:hover::after {
  width: 100%;
}

/* DropDown */
.navegacao li:hover ul {
  display: block;
  position: absolute;
  animation: show-up 0.3s forwards;
}
.navegacao ul {
  display: none;
}
.dropDown {
  margin-top: 15px;
  background-color: var(--bgContent);
  border-radius: 4px;
  padding: 10px 0 0 0;
}
.dropDown li {
  font-size: 0.9rem;
  padding: 10px 40px 10px 8px;
}
.dropDown:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-bottom: 15px solid var(--p3);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 8px;
}
.dropDown li:hover {
  background-color: var(--bgContent);
}

/* Conteúdo */
.mainContainer {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
.mainContainer .column {
  display: flex;
  flex-direction: column;
  max-width: 585px;
  gap: 25px;
}
.content {
  background-color: var(--bgContent);
  border-radius: 5px;
  padding: 20px;
}
.content > div {
  margin-top: 12px;
}
/* .exemplos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */
.exemplos img {
  max-width: calc(100% - 150px);
  margin-top: 8px;
  margin-left: 45px;
}
.exemplos div p {
  color: var(--font1);
  font-size: 1.3rem;
}
/* .lista .exemplos {
  align-self: center;
} */
.lista {
  color: var(--font1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.lista li {
  border-bottom: 2px solid var(--p1);
  background: var(--bgContent);
  border-radius: 6px;
  padding: 10px 15px;
}
.txt {
}

/* Footer */
.footer {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: var(--p2);
  border-top: 2px solid;
  border-image: linear-gradient(30deg, var(--p1), var(--p2) 45%) 1;
}
.footer p {
  color: var(--font1);
}
.footer p span {
  color: var(--p1);
}
.footer p a {
  color: var(--font1);
}

/* Especificos */
.content > p {
  margin: 20px 0;
  color: var(--font1);
}
.listaPalavras {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Change Mode */
.btnTheme {
  width: 45px;
  height: 22px;
  border: none;
  background-color: var(--bgContent);
  border-radius: 25px;
  position: relative;
  border: var(--bgContent) 1px solid;
  cursor: pointer;
}
.btnTheme:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--bgContent);
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 1px;
  transition: 0.3s;
}
.btnTheme.ativo:after {
  left: 23px;
}

/* Tabelas */
table {
  background-color: var(--bgContent);
  box-shadow: 0 0 2px var(--bg);
  color: var(--font1);
  margin-top: 12px;
}
tbody {
  background: var(--bgContent);
}
td {
  text-align: center;
  padding: 3px 6px;
}
td code {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
}
th {
  padding: 6px 0;
}

/* Menu Mobile */
[data-btn="mobile"] {
  display: none;
}

/* Responsivo */
@media (max-width: 800px) {
  .header {
    padding: 20px 20px;
    justify-content: space-between;
    border-image: linear-gradient(30deg, var(--p2) 25%, var(--p1)) 1;
  }
  .exemplos img {
    max-width: 100%;
    margin: 0;
  }
  table {
    font-size: 0.875rem;
  }
  .titulo {
    margin: 30px 0 30px 10px;
    font-size: 2.8rem;
  }
  .mainContainer {
    flex-wrap: wrap;
  }
  .header > div {
    position: relative;
    z-index: 300;
  }
  [data-btn="mobile"] {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--bgContent);
    border: none;
    padding: 0.5rem 1rem;
    color: var(--font1);
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 15px 10px 0 0px;
  }
  [data-btn="mobile"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: var(--font1);
    box-shadow: 0 4px var(--font1), 0 -4px var(--font1);
    transition: 0.3s;
  }
  [data-btn="mobile"].ativo::before {
    transform: rotate(90deg);
  }
  [data-menu="lista"].ativo {
    display: block;
  }
  [data-menu="lista"] {
    animation: show-left 0.3s forwards;
    display: none;
    position: absolute;
    background-color: var(--p2);
    width: 200px;
    z-index: 100;
    top: 50px;
    left: 0;
    padding: 70px 0 20px 0;
    border-radius: 0 0 5px 5px;
  }
  [data-menu="lista"] li ul li {
    font-weight: normal;
  }
  [data-menu="lista"] li:hover ul {
    position: static;
  }
  [data-menu="lista"] li {
    padding: 20px;
    font-weight: bold;
  }
  [data-menu="lista"] li::after {
    display: none;
  }
}
@media (max-width: 380px) {
  [data-menu="lista"] {
    top: 100px;
  }
  .subtitulo::before {
    width: 4px;
    height: 100%;
    left: -10px;
  }
}

/* Animações */
@keyframes show-left {
  from {
    transform: translate3d(-10px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-up {
  from {
    transform: translate3d(0, 12px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
