/* Geral */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  background: var(--bg);
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  transition: 0.3s;
}

/* Cores */
:root {
  --p1: #ebff00;
  --p2: #141414;
  --p3: #2c2c2c;
  --bg: #2c2c2c;
  --font1: #f1f1f1;
  --bgContent: rgb(255, 255, 255, 0.1);
  --navColor: #424242;
}
:root.ativo {
  --p1: #00b7ff;
  --p2: #d8d8d8;
  --p3: #c2c2c2;
  --bg: #e7e7e7;
  --font1: #141414;
  --bgContent: rgb(0, 0, 0, 0.1);
  --navColor: #cfcfcf;
}
.container {
  max-width: 1115px;
  margin: 0 auto;
}

/* Utilitário */
.titulo {
  color: var(--font1);
  font-size: 3.5rem;
  margin: 65px 0 45px 45px;
}
.titulo span {
  color: var(--p1);
}
.subtitulo {
  color: var(--font1);
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.subtitulo::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  background: var(--p1);
  position: absolute;
  border-radius: 3px 0 0 3px;
  left: -25px;
}

/* Header */
.header {
  padding: 20px 0;
  background-color: var(--p2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid;
  border-image: linear-gradient(30deg, var(--p2) 45%, var(--p1)) 1;
}
.header h1 {
  color: var(--p1);
}

/* Navegacão */
.navegacao {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--font1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
  font-size: 1.1rem;
}
.navegacao li a {
  color: var(--font1);
}
.navegacao li {
  display: block;
  padding: 20px 0;
  position: relative;
  cursor: pointer;
}
.navegacao li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--p1);
  transition: 0.3s;
  margin-top: 2px;
}
.navegacao li:hover::after {
  width: 100%;
}

/* DropDown */
.navegacao li:hover ul {
  display: block;
  position: absolute;
  animation: show-up 0.3s forwards;
}
.navegacao ul {
  display: none;
  z-index: 20000;
}
.dropDown {
  margin-top: 15px;
  background-color: var(--navColor);
  border-radius: 4px;
  padding: 10px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.dropDown:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-bottom: 15px solid var(--navColor);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -10px;
  left: 8px;
}
.dropDown li {
  font-size: 0.9rem;
  padding: 10px 40px 10px 8px;
}
.dropDown li:hover {
  background-color: var(--bgContent);
}

/* Conteúdo */
.mainContainer {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  margin: 10px;
}
.mainContainer .column {
  display: flex;
  flex-direction: column;
  max-width: 585px;
  gap: 25px;
}
.content {
  background-color: var(--bgContent);
  border-radius: 5px;
  padding: 20px;
}
.content > div {
  margin-top: 12px;
}
.exemplos > p {
  margin: 20px 0;
}
.exemplos div p {
  color: var(--font1);
  font-size: 1.3rem;
}
.exemplos pre code {
  font-size: 0.95rem;
  font-family: "Fira Code", monospace;
  color: #f1f1f1;
}
.exemplos div {
  margin-top: 7px;
  position: relative;
}
.exemplos pre {
  background-color: #222222;
  border-radius: 6px;
  position: relative;
  user-select: none;
  overflow-x: scroll;
}
.exemplos pre::-webkit-scrollbar {
  width: 18px;
}
.exemplos pre::-webkit-scrollbar-thumb {
  background: #2c2c2c;
  border-radius: 6px;
}
.exemplos pre::-webkit-scrollbar-track {
  border-radius: 0 0 6px 6px;
  background: #222222;
}
.exemplos div:hover:after {
  content: "copiar";
  color: var(--p2);
  background-color: var(--p1);
  font-size: 0.8rem;
  font-family: monospace;
  padding: 5px;
  position: absolute;
  top: 28px;
  right: 3px;
  border-radius: 5px;
  cursor: pointer;
  animation: show-down 0.3s;
}
.lista {
  color: var(--font1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.lista li {
  border-bottom: 2px solid var(--p1);
  background: var(--bgContent);
  border-radius: 6px;
  padding: 10px 15px;
}

/* Footer */
.footer {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  background-color: var(--p2);
  border-top: 2px solid;
  border-image: linear-gradient(30deg, var(--p1), var(--p2) 45%) 1;
}
.footer p {
  color: var(--font1);
}
.footer p span {
  color: var(--p1);
}
.footer p a {
  color: var(--font1);
}
.footer h3 {
  color: var(--font1);
}
.redes {
  display: flex;
  gap: 20px;
}
.redes a {
  padding: 0;
  padding: 10px;
  border-radius: 5px;
}
.redes a:hover {
  background: linear-gradient(360deg, var(--p1) -45.5%, var(--bgContent) 38.5%);
}
.redes a svg path {
  width: 34px;
}

/* Especificos */
.content > p {
  margin: 20px 0;
  color: var(--font1);
}
.listaPalavras {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* Change Mode */
.btnTheme {
  width: 45px;
  height: 22px;
  border: none;
  background-color: var(--bgContent);
  border-radius: 25px;
  position: relative;
  border: var(--bgContent) 1px solid;
  cursor: pointer;
}
.btnTheme:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--bgContent);
  border-radius: 50%;
  position: absolute;
  left: 2px;
  top: 1px;
  transition: 0.3s;
}
.btnTheme.ativo:after {
  left: 23px;
}

/* Tabelas */
table {
  background-color: var(--bgContent);
  box-shadow: 0 0 2px var(--bg);
  color: var(--font1);
  margin-top: 12px;
}
tbody {
  background: var(--bgContent);
}
td {
  text-align: center;
  padding: 3px 6px;
}
td code {
  font-family: "Cabin", Arial, Helvetica, sans-serif;
}
th {
  padding: 6px 0;
}

/* Menu Mobile */
[data-btn="mobile"] {
  display: none;
}

/* Introducao */
.introducao {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.introducao img.ativo {
  display: none;
}
.introducao div h1 {
  margin: 0;
}
.introducao div p {
  font-size: 0.95rem;
  color: var(--font1);
  max-width: 472px;
  font-weight: normal;
  margin: 10px 0;
}
.introducao div a {
  margin: 10px 0;
  display: inline-block;
  padding: 8px 20px;
  background-color: var(--p1);
  border-radius: 4px;
  color: var(--bg);
}
.introducao div a:hover {
  color: var(--font1);
}
.introducaoImg {
  display: flex;
}
.introducaoImg img {
  overflow: hidden;
  width: 100%;
}
.introducao {
  margin: 25px 30px;
}

/* avisos */
.avisos {
  max-width: 1115px;
  margin: 75px 30px;
}
.avisos h1 {
  margin: 0;
}
.caixa p {
  color: var(--font1);
  font-size: 0.95rem;
}
.caixa {
  margin: 10px 0;
  max-width: 700px;
  background: var(--bgContent);
  padding: 15px;
  border: var(--bgContent) 2px solid;
  border-radius: 6px;
  box-shadow: inset 0px 0px 10px var(--p3);
}

/* Responsivo */
@media (max-width: 1000px) {
  .container {
    max-width: 900px;
  }
  .introducao {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .header {
    padding: 20px 20px;
    justify-content: space-between;
    border-image: linear-gradient(30deg, var(--p2) 25%, var(--p1)) 1;
  }
  table {
    font-size: 0.875rem;
  }
  .titulo {
    margin: 30px 0 30px 10px;
    font-size: 2.8rem;
  }
  .mainContainer {
    flex-wrap: wrap;
    margin: 0 15px;
  }
  .header > div {
    position: relative;
    z-index: 300;
  }
  [data-btn="mobile"] {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--bgContent);
    border: none;
    padding: 0.5rem 1rem;
    color: var(--font1);
    border-radius: 4px;
    text-transform: uppercase;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    cursor: pointer;
    margin: 15px 10px 0 0px;
  }
  [data-btn="mobile"]::before {
    content: "";
    display: inline-block;
    height: 2px;
    width: 12px;
    background-color: var(--font1);
    box-shadow: 0 4px var(--font1), 0 -4px var(--font1);
    transition: 0.3s;
  }
  [data-btn="mobile"].ativo::before {
    transform: rotate(90deg);
  }
  [data-menu="lista"].ativo {
    display: block;
  }
  [data-menu="lista"] {
    animation: show-left 0.3s forwards;
    display: none;
    position: absolute;
    background-color: var(--p2);
    width: 200px;
    z-index: 100;
    top: 50px;
    left: 0;
    padding: 70px 10px 0 10px;
    border-radius: 0 0 5px 5px;
  }
  [data-menu="lista"] li + li {
    border-top: 1px var(--p1) solid;
  }
  [data-menu="lista"] li ul {
    padding: 5px 10px;
  }
  [data-menu="lista"] li ul li {
    padding: 15px 5px;
    font-weight: normal;
  }
  [data-menu="lista"] li:hover ul {
    position: static;
  }
  [data-menu="lista"] li {
    padding: 20px;
    font-weight: bold;
  }
  [data-menu="lista"] li::after {
    display: none;
  }
}
@media (max-width: 500px) {
  .exemplos pre code {
    font-size: 0.85rem;
  }
}
@media (max-width: 380px) {
  [data-menu="lista"] {
    top: 100px;
  }
  .subtitulo::before {
    width: 4px;
    height: 100%;
    left: -10px;
  }
}

/* Animações */
@keyframes show-down {
  from {
    transform: translate3d(5px, -5px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes show-left {
  from {
    transform: translate3d(-20px, 0, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes show-up {
  from {
    transform: translate3d(0, 12px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-content {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.animation {
  animation: show-content 0.5s forwards;
}
.redes a svg path {
  fill: var(--font1);
}
.remove {
  display: none;
}
